<a href="https://colab.research.google.com/github/SeeBook2022/SeeBook-OCR/blob/main/OCR/OCR_google_vision_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 터미널
# !pip install --upgrade google-api-python-client
# !pip install google-cloud-vision

In [ ]:
import os
import pandas as pd

In [ ]:
!ls -l $GOOGLE_APPLICATION_CREDENTIALS
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] =  '/content/drive/MyDrive/aiffel_hackathon3/google_api_key/my_google_api_key.json'

total 8
drwx------ 6 root root 4096 Feb 15 11:45 drive
drwxr-xr-x 1 root root 4096 Feb  1 14:32 sample_data

In [ ]:
def detect_text(path):
    """Detects text in the file."""
    from google.cloud import vision
    import io
    client = vision.ImageAnnotatorClient()

    with io.open(path, 'rb') as image_file:
        content = image_file.read()
        
    image = vision.Image(content=content)

    response = client.text_detection(image=image)
    texts = response.text_annotations
    
    # 제목을 한 문장으로 추출할 수 있도록 코드 수정 (공백 제거)
    result = ''
    for idx, text in enumerate(texts):
        if idx > 0: result += text.description 
    return result

    if response.error.message:
        raise Exception(
            '{}\nFor more info on error messages, check: '
            'https://cloud.google.com/apis/design/errors'.format(
                response.error.message))

In [ ]:
result_list = []
img_dir = '/content/drive/MyDrive/aiffel_hackathon3/test_dataset3/'
for i in range(100):
    paths = img_dir + f'test_title{i+1}.jpg'
    print(f'{i+1} 번째 책:')
    print(detect_text(paths))
    print('='*30)
    result_list.append(detect_text(paths)) # 데이터 프레임화를 위한 리스트

1 번째 책:
세월이가면
==============================
2 번째 책:
님의침묵
==============================
3 번째 책:
먼후일
==============================
4 번째 책:
아
==============================
5 번째 책:
모모
==============================
6 번째 책:
친국의열쇠
==============================
7 번째 책:
고난이선물이다
==============================
8 번째 책:

==============================
9 번째 책:
오뒷세이아
==============================
10 번째 책:
25시
==============================
11 번째 책:
활
==============================
12 번째 책:
가대비극FI
==============================
13 번째 책:
入]25
==============================
14 번째 책:
원
==============================
15 번째 책:
경
==============================
16 번째 책:
인생을어떻게살면좋겠냐고묻는딸에게
==============================
17 번째 책:
아무도기억하지않았다
==============================
18 번째 책:
있는그대로살아도괜찮아
==============================
19 번째 책:
우물밖여고생
==============================
20 번째 책:
오늘은내인생의첫날이다
==============================
21 번째 책:
에이뭘사랑까지하고그래
==============================
22 번째 책:
울
==============================
23 번째 책:
아이가잠들면서재로숨었다
==============================
24 번째 책:
외모는자존감이다
==============================
25 번째 책:
앞으로좋은일만있을나에게
==============================
26 번째 책:
영원한유산
==============================
27 번째 책:
돈의인문학
==============================
28 번째 책:
가짜자존감권하는사회
==============================
29 번째 책:
그페미니즘은틀렸다
==============================
30 번째 책:
백마탄왕자들은왜그렇게떠돌아다닐까
==============================
31 번째 책:
북유럽신화
==============================
32 번째 책:
미술,과학을탐하다
==============================
33 번째 책:
곁에두고읽는니체
==============================
34 번째 책:
대한민국치킨
==============================
35 번째 책:
인간의혹역사
==============================
36 번째 책:
그림에.마음을놓다
==============================
37 번째 책:
개인주의자선언
==============================
38 번째 책:
과학철학의이해
==============================
39 번째 책:
문명과물질
==============================
40 번째 책:

==============================
41 번째 책:
아주친밀한폭력
==============================
42 번째 책:
인간이라는직업
==============================
43 번째 책:
한눈에꿰뚫는세계지명도감
==============================
44 번째 책:
조선국왕연산군
==============================
45 번째 책:
정조와홍대용생각을겨루다
==============================
46 번째 책:
진실의흑역사K
==============================
47 번째 책:
정치학으로의산책
==============================
48 번째 책:
조선의유토피아십승지를다
==============================
49 번째 책:
「제국의위안부』,지식인을말한다
==============================
50 번째 책:
조선시대살아보기
==============================
51 번째 책:
전율범하다專
==============================
52 번째 책:
열하일기
==============================
53 번째 책:
지금여기의페미니즘×민주주의
==============================
54 번째 책:
위대한공존
==============================
55 번째 책:
진중권의서양미술사
==============================
56 번째 책:
식민지청년이봉창의고배
==============================
57 번째 책:
세계사를바꾼전염병R가지
==============================
58 번째 책:
세계사를바꾼가지약
==============================
59 번째 책:
신문읽기의혁명
==============================
60 번째 책:
세계사를바꾼I3가지식물
==============================
61 번째 책:
흐름이보이는세계사경제공부
==============================
62 번째 책:
세계사를움직인위대한여인들
==============================
63 번째 책:
소크라테스를구출하라
==============================
64 번째 책:
사라진스푼
==============================
65 번째 책:
쏭내관의재미있는궁궐기행2
==============================
66 번째 책:
사랑하지말자
==============================
67 번째 책:
세계사편지
==============================
68 번째 책:
쏭내관의재미있는궁궐기행
==============================
69 번째 책:
디케의눈
==============================
70 번째 책:
생명이란무엇인가
==============================
71 번째 책:
셀링사이언스
==============================
72 번째 책:
신은수학자인가?
==============================
73 번째 책:
물리학은처음인데요
==============================
74 번째 책:
미생물이플라톤을만났을때
==============================
75 번째 책:
물리학자는영화에서과학을본다
==============================
76 번째 책:
문명과수학
==============================
77 번째 책:
원자,인간을완성하다
==============================
78 번째 책:
처재과학자들의숨겨진이야기
==============================
79 번째 책:
빛의물리학
==============================
80 번째 책:
이명현의과학책방
==============================
81 번째 책:
바이러스폭풍의시대
==============================
82 번째 책:
하리아의딸들
==============================
83 번째 책:
수학을빛낸여성들.
==============================
84 번째 책:
|섀로운아들란티스
==============================
85 번째 책:
생명과학교과서는살아있다
==============================
86 번째 책:
인간은필요없다
==============================
87 번째 책:
TO오는걸
==============================
88 번째 책:
이기적인노
==============================
89 번째 책:
영재들의수학퍼즐1저미있는
==============================
90 번째 책:
8세기수학자들의초상
==============================
91 번째 책:
영재들의수학퍼즐2재미있는
==============================
92 번째 책:
수학,인문으로수를읽다27
==============================
93 번째 책:
인간의위대한스승들
==============================
94 번째 책:
교양인을위한화학사강의WIEMANMITDEMFEUERPHILOSOPHIERT
==============================
95 번째 책:
4차산업혁명의충격
==============================
96 번째 책:
수학세계사를만나다
==============================
97 번째 책:
알고리즘,인생을계산하다
==============================
98 번째 책:
사회적원자
==============================
99 번째 책:
우리는왜개는사랑하고돼지는먹고소는신을까
==============================
100 번째 책:
세비퀴로기는과학자전거
==============================

In [ ]:
df = pd.DataFrame(result_list)
df

                       0
0                  세월이가면
1                   님의침묵
2                    먼후일
3                      아
4                     모모
..                   ...
95             수학세계사를만나다
96          알고리즘,인생을계산하다
97                 사회적원자
98  우리는왜개는사랑하고돼지는먹고소는신을까
99           세비퀴로기는과학자전거

[100 rows x 1 columns]

In [ ]:
# 정량 평가를 위한 테스트 데이터 라벨 csv 파일 불러오기
df1 = pd.read_csv('/content/drive/MyDrive/aiffel_hackathon3/test_dataset3_title.csv', encoding = 'UTF-8')

# 테스트 데이터 라벨과 예측값 합치기
df1 = df1.assign(result = result_list)

In [ ]:
df1

                  파일명                          책제목                result
0     test_title1.jpg                       세월이 가면                 세월이가면
1     test_title2.jpg                        님의 침묵                  님의침묵
2     test_title3.jpg                         먼 후일                   먼후일
3     test_title4.jpg                         일리아스                     아
4     test_title5.jpg                           모모                    모모
..                ...                          ...                   ...
95   test_title96.jpg                 수학, 세계사를 만나다             수학세계사를만나다
96   test_title97.jpg               알고리즘, 인생을 계산하다          알고리즘,인생을계산하다
97   test_title98.jpg                       사회적 원자                 사회적원자
98   test_title99.jpg  우리는 왜 개는 사랑하고 돼지는 먹고 소는 신을까  우리는왜개는사랑하고돼지는먹고소는신을까
99  test_title100.jpg                세바퀴로 가는 과학자전거           세비퀴로기는과학자전거

[100 rows x 3 columns]

In [ ]:
# 후처리 함수 (특수문자 및 공백 제거)
def preprocess_sentence(sentence):
    import re
    sentence = re.sub('[-=+,「#/\?:^$.@*\"※~&%ㆍ!』\\‘|\(\)\[\]\<\>`\'…》]','', sentence)
    sentence = sentence.replace(' ', '') # 공백 제거
    sentence = sentence.strip()
    return sentence

In [ ]:
test_sentence = '안녕하 세요. 반갑습~니다!0101234a?b,長'
print(preprocess_sentence(test_sentence))

안녕하세요반갑습니다0101234ab長

In [ ]:
# 후처리 
for idx, sentence in enumerate(df1['책제목']):
    df1['책제목'][idx] = preprocess_sentence(sentence)
for idx, sentence in enumerate(df1['result']):
    df1['result'][idx] = preprocess_sentence(sentence)

In [ ]:
df1

                  파일명                   책제목                result
0     test_title1.jpg                 세월이가면                 세월이가면
1     test_title2.jpg                  님의침묵                  님의침묵
2     test_title3.jpg                   먼후일                   먼후일
3     test_title4.jpg                  일리아스                     아
4     test_title5.jpg                    모모                    모모
..                ...                   ...                   ...
95   test_title96.jpg             수학세계사를만나다             수학세계사를만나다
96   test_title97.jpg           알고리즘인생을계산하다           알고리즘인생을계산하다
97   test_title98.jpg                 사회적원자                 사회적원자
98   test_title99.jpg  우리는왜개는사랑하고돼지는먹고소는신을까  우리는왜개는사랑하고돼지는먹고소는신을까
99  test_title100.jpg           세바퀴로가는과학자전거           세비퀴로기는과학자전거

[100 rows x 3 columns]

In [ ]:
# 라벨링 잘못된 데이터 수정
df1['책제목'][52] = '지금여기의페미니즘×민주주의'

In [ ]:
# 라벨, 예측값 비교 (성능 검증)
val_1st = []
for i in range(100):
    if df1['result'][i] == '':
        val_1st.append('0%')
    elif df1['책제목'][i] == df1['result'][i]:
        val_1st.append('100%')
    else:
        val_1st.append('False')

In [ ]:
df2 = df1.assign(compare1 = val_1st)
df2

                  파일명                   책제목                result compare1
0     test_title1.jpg                 세월이가면                 세월이가면     100%
1     test_title2.jpg                  님의침묵                  님의침묵     100%
2     test_title3.jpg                   먼후일                   먼후일     100%
3     test_title4.jpg                  일리아스                     아    False
4     test_title5.jpg                    모모                    모모     100%
..                ...                   ...                   ...      ...
95   test_title96.jpg             수학세계사를만나다             수학세계사를만나다     100%
96   test_title97.jpg           알고리즘인생을계산하다           알고리즘인생을계산하다     100%
97   test_title98.jpg                 사회적원자                 사회적원자     100%
98   test_title99.jpg  우리는왜개는사랑하고돼지는먹고소는신을까  우리는왜개는사랑하고돼지는먹고소는신을까     100%
99  test_title100.jpg           세바퀴로가는과학자전거           세비퀴로기는과학자전거    False

[100 rows x 4 columns]

In [ ]:
# 오검출 데이터만 추출하여 확인
df3 = df2.groupby('compare1').get_group('False')
df3

                  파일명  ... compare1
3     test_title4.jpg  ...    False
5     test_title6.jpg  ...    False
10   test_title11.jpg  ...    False
11   test_title12.jpg  ...    False
12   test_title13.jpg  ...    False
13   test_title14.jpg  ...    False
14   test_title15.jpg  ...    False
21   test_title22.jpg  ...    False
33   test_title34.jpg  ...    False
34   test_title35.jpg  ...    False
45   test_title46.jpg  ...    False
47   test_title48.jpg  ...    False
50   test_title51.jpg  ...    False
55   test_title56.jpg  ...    False
56   test_title57.jpg  ...    False
57   test_title58.jpg  ...    False
59   test_title60.jpg  ...    False
77   test_title78.jpg  ...    False
81   test_title82.jpg  ...    False
83   test_title84.jpg  ...    False
86   test_title87.jpg  ...    False
87   test_title88.jpg  ...    False
88   test_title89.jpg  ...    False
89   test_title90.jpg  ...    False
90   test_title91.jpg  ...    False
91   test_title92.jpg  ...    False
93   test_title94.jpg  ...    False
99  test_title100.jpg  ...    False

[28 rows x 4 columns]

In [ ]:
len(df3['compare1'])

28

In [ ]:
# 최종 코드 (중간 발표 첨부용)

# google API 
def detect_text(path):
    """Detects text in the file."""
    from google.cloud import vision
    import io
    client = vision.ImageAnnotatorClient()

    with io.open(path, 'rb') as image_file:
        content = image_file.read()
        
    image = vision.Image(content=content)

    response = client.text_detection(image=image)
    texts = response.text_annotations
    
    result = ''
    for idx, text in enumerate(texts):
        if idx > 0: result += text.description 
    return result

    if response.error.message:
        raise Exception(
            '{}\nFor more info on error messages, check: '
            'https://cloud.google.com/apis/design/errors'.format(
                response.error.message))
        

# 텍스트 전처리
def preprocess_sentence(sentence):
    import re
    sentence = re.sub('[-=+,「#/\?:^$.@*\"※~&%ㆍ!』\\‘|\(\)\[\]\<\>`\'…》]','', sentence)
    sentence = sentence.replace(' ', '') 
    sentence = sentence.strip()
    return sentence

# 텍스트 전처리 및 결과 저장(리스트)
result_list = []
img_dir = '/content/drive/MyDrive/aiffel_hackathon3/test_dataset3/'
for i in range(100):
    paths = img_dir + f'test_title{i+1}.jpg'
    result = detect_text(paths) 
    result_list.append(preprocess_sentence(result))

# 데이터 프레임화
df = pd.DataFrame(result_list)


df1 = pd.read_csv('/content/drive/MyDrive/aiffel_hackathon3/test_dataset3_title.csv',
                  encoding = 'UTF-8')
df1 = df1.assign(result = result_list)

val_1st = []
for i in range(100):
    if df1['result'][i] == '':
        val_1st.append('0%')
    elif df1['책제목'][i] == df1['result'][i]:
        val_1st.append('100%')
    else:
        val_1st.append('False')